@import "tailwindcss";

@theme {
  /* Mine Shaft */
  --color-mine-shaft-50: #fafafa;
  --color-mine-shaft-100: #f5f5f5;
  --color-mine-shaft-200: #e6e6e6;
  --color-mine-shaft-300: #d6d6d6;
  --color-mine-shaft-400: #a5a5a5;
  --color-mine-shaft-500: #767676;
  --color-mine-shaft-600: #575757;
  --color-mine-shaft-700: #434343;
  --color-mine-shaft-800: #2d2d2d;
  --color-mine-shaft-900: #1a1a1a;
  --color-mine-shaft-950: #0a0a0a;

  /* Bright Sun */
  --color-bright-sun-50: #fffbeb;
  --color-bright-sun-100: #fff3c6;
  --color-bright-sun-200: #ffe588;
  --color-bright-sun-300: #ffd149;
  --color-bright-sun-400: #ffbd20;
  --color-bright-sun-500: #f99b07;
  --color-bright-sun-600: #dd7302;
  --color-bright-sun-700: #b74f06;
  --color-bright-sun-800: #943d0c;
  --color-bright-sun-900: #7a320d;
  --color-bright-sun-950: #461802;
}